img{
    width: 120px;
    height:70px;
}
header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 150px;
    align-items: center;
}
ul{
    list-style-type: none;
    display: flex;
    gap:15px;
}
button{
    width:150px;
    height:40px;
    border-radius: 10px;
    background-color: #fb8114;
    color:white;
    font-size: 20px;
    border:none;

}
body{
font-family: sans-serif;
background-color: aqua;
}
button{
    color:rgb(192, 80, 99);

}
h3{
display: flex;
    justify-content: space-around;
    width: 100%;
    height: 150px;
    align-items: center;
    color: #fb8114;
}
form{
    background-color: #fb8114 ;
    color:white
}
body{
    background-color:aqua ;
}