@import url('https://fonts.googleapis.com/css2?family%3DBungee%2BTint%26display%3Dswap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
#child2{
    width:200px;
    height:200px;
    background-color: red;
    border-radius: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}
#child3{
   width:200px;
    height:200px;
    background-color: red;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
body{
        background-image: url(bg1.jpg);
        background-repeat: no-repeat;
        background-size: 100% 130%;
        height: 100vh;
        overflow: hidden;
        display:flex;
        flex-direction: column;
        align-items: center; 
        gap:50px;
        font-family: sans-serif;
        text-transform: uppercase;
        font-weight: 900;
        
}
#black{
    width: 100%;
    height:100%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top:0;
    z-index: -10;
}
#parent{
    color:red;
    display:flex;
    justify-content: center;
    gap:90px;
    flex-direction: column;
    text-align: center;
}
#child4,#child5{
    display:flex;
    flex-direction: column;
    gap:10px;
}
#child2,#child3{
    display:flex;
    gap:10px;
}
h2{
    font-weight: 900;
}
#parent2{
    display:flex;
    gap:20px;
    color:red;

}
#parents_div{
    display:flex;
    gap:70px;
    
}
.circle,.circle2{
    width:50px;
    height:50px;
    background-color: white;
    border-radius:50%;
}
#child7{
    background-color:red;
    border-radius:15px;

}
.childtext{
    text-align: center;
}
#child7{
    padding-left: 15px;
    padding-right: 15px;
    padding-top:5px ;
    padding-bottom: 5px;
    border:none;
    color:white;
    font-weight:700;
    cursor: pointer;
}