*{
    padding: 0;
    margin:0;
}
body{
    background-color: #172041;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column ;
    font-family:sans-serif;
}
#parent{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 400px;

}
#rock,#paper,#siccors{
    padding:20px;
}
h1{
    font-size:50px;
    color:white;
}